
{% extends "layout.html" %}

{% block pageTitle %}
  MYESF Document exchange internal prototype - Version 4
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">MYESF Document exchange internal prototype</h1>
      <p class="govuk-body">Designs for the ESFA MYESF Document Exchange (Doc Ex) internal prototype, Autumn-Winter 2020</p>

      <h2 class="govuk-heading-l">Version 4</h2>
      <h3 class="govuk-heading-m">All screens in this version</h3>
      <h4 class="govuk-heading-s">All user roles</h4>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v4/document-exchange/download-documents">Download your documents</a><br><strong>Iteration</strong> of main 'Download your documents' screen.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v4/document-exchange/delete-selected-confirm">Delete selected documents</a><br><strong>Iteration</strong> of the review and confirm page.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v4/document-exchange/documents-deleted-confirmation">Delete selected documents</a><br><strong>Iteration</strong> of the deletion confirmation page.</p>

      <h4 class="govuk-heading-s">Advanced user roles</h4>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v4/advanced-user/document-exchange/download-documents">Download your documents</a><br><strong>Iteration</strong> of main 'Download your documents' screen.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v4/advanced-user/delete-selected-confirm">Delete selected documents</a><br><strong>Iteration</strong> of the review and confirm page.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v4/advanced-user/document-exchange/documents-deleted-confirmation">Delete selected documents</a><br><strong>Iteration</strong> of the deletion confirmation page.</p>
    </div>
  </div>

{% endblock %}
