
{% extends "layout.html" %}

{% block pageTitle %}
  MYESF Document exchange internal prototype - Version 6
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">MYESF Document exchange internal prototype</h1>
      <p class="govuk-body">Designs for the ESFA MYESF Document Exchange (Doc Ex) internal prototype, Autumn-Winter 2020</p>

      <h2 class="govuk-heading-l">Version 6</h2>
      <h3 class="govuk-heading-m">All screens in this version</h3>
      <h4 class="govuk-heading-s">All user roles</h4>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v6/document-exchange/download-documents">Download your documents</a><br><strong>Iteration</strong> of main 'Download your documents' screen.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v6/document-exchange/date-error-states-mvp-v2">Date input error states</a><br><strong>Iteration</strong> of date input/filter error states.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v6/document-exchange/ukprn-search-error">UKPRN search error state</a><br><strong>NEW</strong> error state for UKPRN search input.</p>
    </div>
  </div>

{% endblock %}
