
{% extends "layout.html" %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block pageTitle %}
  You've published 8 14 to 16 revenue funding allocation statements
{% endblock %}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--Navigation-->
<div class="account-features">
  <span class="account-link">
    <a href="settings">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="start">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
</div>
</div>
{% endblock %}

{% block content %}
<!--
    This page is a prototype.
    Please do not use as production code.
-->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You've published 8 14 to 16 revenue funding allocation statements</h1>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">What happens next</h2>
      <p>We’ll send you an email to confirm that we've published your documents. It may take a few minutes for all of your documents to show in provider view.</p>
      
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Publish more documents</h2>
      <p>You can add more documents to your file share, then publish them using document exchange.</p>
      
        <a href="publish-documents.html" class="govuk-button govuk-button--primary govuk-!-margin-top-6" data-module="govuk-button" role="button" draggable="false" title="Finish">Finish</a>

    </div>
  </div>

{% endblock %}
