<!--
    This page is a prototype.
    Please do not use as production code.
    It was created with speed in mind, so treat as throwaway HTML.
-->

{% extends "layout.html" %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block pageTitle %}
  Are you sure you want to delete these documents?
{% endblock %}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!--
    Navigation
-->
<div class="account-features">
  <span class="account-link">
    <a href="#">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="#">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--
    Breadcrumbs
-->
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="file-share.html">File share documents</a>
          </li>
        <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="publish-documents.html">Publish your documents</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Confirm
        </li>
      </ol>
    </div>
{% endblock %}

{% block content %}





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-xl">
            Are you sure you want to publish these documents?
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>
    
      </fieldset>
    </div>
    
<!--
    <h2 class="govuk-heading-m">Document details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Document name
        </dt>
        <dd class="govuk-summary-list__value">
          10006337_STOCKTON-ON-TEES-BOROUGH-COUNCIL_BUSINESS-CASE-extract_v1-202021.xlsx
        <br>
          <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-bottom-3" data-module="govuk-details">
              <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                  Document details
              </span>
              </summary>
              <div class="govuk-details__text">
              <p class="govuk-body"><strong>Document name:</strong> <br>10002697_STOCKTON-ON-TEES-BOROUGH-COUNCIL_Non-maintained-special-schools-allocation-statement_v3-202021.pdf</p>
              <p class="govuk-body"><strong>Provider name:</strong> <br></p>
              <p class="govuk-body"><strong>Provider type:</strong> <br></p>
              <p class="govuk-body"><strong>Provider sub-type:</strong> <br></p>
              <p class="govuk-body"><strong>Document version:</strong> <br>3</p>
              <p class="govuk-body"><strong>Downloaded:</strong> <br>3:17pm on 22 September 2020</p>
              <p class="govuk-body"><strong>Downloaded by:</strong> <br>Jonathan Jones</p>
              
              <p class="govuk-body"><strong>Change note for this version:</strong> </p>
              <p class="govuk-body"><a class="govuk-link" href="datasethistory">View all versions</a></p>
              
              </div>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Document type
        </dt>
        <dd class="govuk-summary-list__value">
          Business case
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider name
        </dt>
        <dd class="govuk-summary-list__value">
          Stockton-on-Tees Borough Council
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Document version
        </dt>
        <dd class="govuk-summary-list__value">
          1
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Downloaded
        </dt>
        <dd class="govuk-summary-list__value">
          <p>3:34pm on 2 October 2020</p>
          <p>by Jonathan Jones</p>
        </dd>
      </div>
    </dl>

  -->
  
      <form action="#" method="link" novalidate>

        <input type="hidden" name="delete-confirmed" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
<!--
  <p class="govuk-body">By continuing, you will delete:</p>
  <ul class="govuk-list govuk-list--bullet">
        <li>the documents listed</li>
        <li>all their previous versions</li>
  </ul>
  <p>By continuing, you will delete the documents listed and all their previous versions.</p>
  <p>By continuing, you will delete the documents listed and all previously submitted versions.</p>
  <p>By continuing, you will delete the documents listed and all versions previously submitted by the provider.</p>
  <p>By continuing, you will delete the documents listed and all previous versions submitted by the provider.</p>
-->

<!--
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-heading-xl">
        Are you sure you want to delete these documents?
      </h1>
    </legend>
    <p>You have selected <strong>2</strong> documents for deletion.</p>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>
-->

  </div>
</div>

<!--
    Heading

    <h1 class="govuk-heading-xl">Are you sure you want to delete these documents?</h1>
    <section>

    Row start

      <div class="govuk-grid-row">

    One third column start

            <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
    <p class="govuk-body">The documents are:</p>
            </div>
        </div>
        --Row end--
    </section>
  -->
  </div>
</div>

{% endblock %}
