{% extends "layout.html" %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block pageTitle %}
  Are you sure you want to delete these documents?
{% endblock %}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--
    Navigation
-->
<!--Navigation-->
<div class="account-features">
  <span class="account-link">
    <a href="settings">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="start">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--
    Breadcrumbs
-->
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="file-share.html">File share documents</a>
          </li>
        <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="publish-documents.html">Publish your documents</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Confirm
        </li>
      </ol>
    </div>
{% endblock %}

{% block content %}
<!--
    This page is a prototype.
    Please do not use as production code.
-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="publish-14-to-16-answer" method="post" class="form">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Are you sure you want to publish all 14 to 16 revenue funding allocation statements?
          </h1>
        </legend>
        <div id="this" class="govuk-hint">
          Selecting Yes will publish 8 documents.
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="publish-14-to-16-yes" name="publish-14-to-16" type="radio" value="true">
            <label class="govuk-label govuk-radios__label" for="publish-14-to-16-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="publish-14-to-16-no" name="publish-14-to-16" type="radio" value="false">
            <label class="govuk-label govuk-radios__label" for="publish-14-to-16-no">
              No
            </label>
          </div>
        </div>
    
      </fieldset>
    </div>
  
  <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
  </div>
</div>
  </div>
</div>

{% endblock %}
