{% extends "layout.html" %}

{% block pageTitle %}
  There are 68 documents in your file share
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!--Navigation-->
<div class="account-features">
  <span class="account-link">
    <a href="settings">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="start">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--
    Breadcrumbs
-->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      File share documents
      </li>
  </ol>
</div>
    
{% endblock %}

{% block content %}
<!--
    This page is a prototype.
    Please do not use as production code.
-->
<!--Row start-->
<div class="govuk-grid-row">
  <!--One third column start-->
        <div class="govuk-grid-column-one-half">
<!--Heading-->
    <h1 class="govuk-heading-xl">There are 68 documents in your file share</h1>
    <section>
          <p class="govuk-body">You can <a href="publish-documents.html">publish 56 documents</a>.</p>
          <p class="govuk-body">You need to <a href="#">review 12 documents</a>.</p>
        </div>
      </div>
    </section>
  </div>
</div>
<!--Row end-->


{% endblock %}
