<!--This page is a prototype. Please do not use as production code.-->

{% extends "layout.html" %}

{% block pageTitle %}
  Document exchange
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!--Navigation-->
<div class="account-features">
  <span class="account-link">
    <a href="#">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="#">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--Breadcrumbs removed as this is now the service 'home' page-->
    
{% endblock %}

{% block content %}
<!--Row start
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
Heading-->
    <h1 class="govuk-heading-xl">Document exchange</h1>
    <section>
<!--Row start-->
      <div class="govuk-grid-row">
<!--One third column start-->
        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="allocations" class="dashboard-links" href="file-share.html">
            <span id="allocations-service" class="service-name">Publish documents from your file share</span>
            <span id="allocation-alert" class="alert alert-name-red">68 documents in your file share</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="contracts" class="dashboard-links" href="download-documents.html">
            <span id="contracts-service" class="service-name">Download documents</span>
            <span id="contract-alert" class="alert alert-name-red">2 new documents</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
<!--Row end-->


{% endblock %}
