<!--
    This page is a prototype.
    Please do not use this code for production.
-->

{% extends "layout.html" %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block pageTitle %}
  Publish your documents
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!--
    Navigation
-->
<div class="account-features">
  <span class="account-link">
    <a href="#">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="#">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--
    Breadcrumbs
-->
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="file-share.html">File share documents</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            Publish your documents
          </li>
      </ol>
    </div>
{% endblock %}

{% block content %}
<!--
    This page is a prototype.
    Please do not use this code for production.
-->
<!--
    Heading
-->
    <h1 class="govuk-heading-xl">Publish your documents</h1>
    <p class="govuk-body">Select a document type to publish.</p>
    <section>
<!--
    Row start
-->
      <div class="govuk-grid-row govuk-!-margin-top-6">
<!--
    One third column start
-->

        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
<!--
    Visually hidden 'Documents selected' count for screen readers
    <p class="govuk-visually-hidden govuk-body">0 documents selected</p>
-->
<!--
    Select a (Filter by) team.
    Radio inputs.
    ADVANCED users only.

    Updated 6-1-2021
-->
<div class="govuk-form-group filterbyContainer">
    <fieldset class="govuk-fieldset">
        <button
            class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand-team govuk-button">
            <h4 class="govuk-heading-s">Select a team
                <!--
                <span><i id="arrowRotateStatus" class="material-icons right-align"> keyboard_arrow_down </i></span>
                -->
            </h4>
            
        </button>
        <div id="filter-content-team" class="filter-content-team">
            <div class="govuk-radios govuk-radios--small filterbyCheckbox govuk-!-margin-top-3" id="filterByTeam">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="team-1" name="filter-by-team"
                        type="radio" value="funding-centre" checked="checked">
                    <label class="govuk-label govuk-radios__label" for="team-1">
                        Funding centre
                    </label>
                </div>
                <div class="govuk-radios__item govuk-!-margin-bottom-3">
                    <input class="govuk-radios__input" id="team-2" name="filter-by-team"
                        type="radio" value="risk-assurance">
                    <label class="govuk-label govuk-radios__label" for="team-2">
                        Risk assurance
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<!--
    Select document type.
    Radio inputs.
-->

            <div class="govuk-form-group filterbyContainer">
                <fieldset class="govuk-fieldset">
                    <button id=""
                        class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading govuk-button" aria-label="Filter by document type" aria-expanded="false">
                        <h4 class="govuk-heading-s">Select a document type <span class="govuk-visually-hidden">:</span>
                        </h4>
                    </button>
                    
                    <div id="filter-content-document-type">
                        <div class="radios-document-type">
                        <div class="govuk-radios govuk-radios--small filterbyCheckbox govuk-!-margin-top-3" id="SelectDocumentType">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="showDocumentType1" name="select-document-type"
                                    type="radio" value="funding-centre">
                                <label class="govuk-label govuk-radios__label" for="team-2">
                                    14 to 16 revenue funding allocation statements
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="showDocumentType2" name="select-document-type"
                                    type="radio" value="other-thing" >
                                <label class="govuk-label govuk-radios__label" for="team-2">
                                    16 to 19 reconciliation statements
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="showDocumentType3" name="select-document-type"
                                    type="radio" value="other-thing" >
                                <label class="govuk-label govuk-radios__label" for="team-2">
                                    Business case audit evidence requests
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radioSelectDocumentType4" name="select-document-type"
                                    type="radio" value="other-thing" >
                                <label class="govuk-label govuk-radios__label" for="team-2">
                                    Data and management information (MI) reports
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radioSelectDocumentType5" name="select-document-type"
                                    type="radio" value="other-thing" >
                                <label class="govuk-label govuk-radios__label" for="team-2">
                                    Local authority (LA) student number summaries
                                </label>
                            </div>
                            <div class="govuk-radios__item govuk-!-margin-bottom-3">
                                <input class="govuk-radios__input" id="radioSelectDocumentType6" name="select-document-type"
                                    type="radio" value="other-thing">
                                <label class="govuk-label govuk-radios__label" for="team-2">
                                    Non maintained special school allocation statements
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>
                </fieldset>
            </div>

            <a href>Clear selections</a>
                <!--
                Alternative 'Clear filters' link          
                <a href="#" class="govuk-link" onclick="$('input:checkbox').removeAttr('checked');">Clear filters</a>
                -->
        </div>
<!--
    Two thirds column start
-->
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
            <!--<p class="govuk-body">0 documents selected</p>-->

            <p id="noneSelected" class="govuk-body">0 document types selected</p>

<!--
    Table start for document type 1 - '14 to 16 revenue funding allocation statements'
    Updated 5-1-2021

    This table is revealed using the relevant 'Select document type' radio button
-->
<div id="documentType1" class="documentType1 hidden">
<table class="govuk-table">
    <!--Table head-->
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document name</th>
            <th scope="col" class="govuk-table__header">Document type</th>
            <!--<th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>-->
        </tr>
    </thead>
    <tbody class="govuk-table__body" id="mainContentResults">
        <!--Table row 1 Business case audit evidence-->
        <tr class="govuk-table__row" id="documentType">
            <td class="govuk-table__cell">
                
                            <!--Document name-->
                <span class="govuk-body">10000604_10003_201819.pdf</span>
                        
                    
            </td>
            <!--Document type-->
            <td class="govuk-table__cell"><span class="govuk-body">14 to 16 revenue funding allocation statement</span>
                
            </td>
            
        </tr>
        <!--Table row 2 Business case-->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                
                            <!--Document name-->
                <span class="govuk-body">10000604_10003_201819.pdf</span>
                        
                    
            </td>
            <!--Document type-->
            <td class="govuk-table__cell"><span class="govuk-body">14 to 16 revenue funding allocation statement</span>
                
            </td>
        </tr>
        <!--Table row 3 Alternative completion-->
        <tr class="govuk-table__row" id="documentType3">
            <td class="govuk-table__cell">
                
                            <!--Document name-->
                <span class="govuk-body">10000604_10003_201819.pdf</span>
                        
                    
            </td>
            <!--Document type-->
            <td class="govuk-table__cell"><span class="govuk-body">14 to 16 revenue funding allocation statement</span>
                
            </td>
        </tr>
        <!--Table row 4 Data sharing protocol-->
        <tr class="govuk-table__row" id="documentType4">
            <td class="govuk-table__cell">
                
                            <!--Document name-->
                <span class="govuk-body">10000604_10003_201819.pdf</span>
                        
                    
            </td>
            <!--Document type-->
            <td class="govuk-table__cell"><span class="govuk-body">14 to 16 revenue funding allocation statement</span>
                
            </td>
        </tr>
        <!--Table row 1 Business case audit evidence-->
        <tr class="govuk-table__row" id="documentType">
            <td class="govuk-table__cell">
                
                            <!--Document name-->
                <span class="govuk-body">10000604_10003_201819.pdf</span>
                        
                    
            </td>
            <!--Document type-->
            <td class="govuk-table__cell"><span class="govuk-body">14 to 16 revenue funding allocation statement</span>
                
            </td>
            
        </tr>
        <!--Table row 2 Business case-->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                
                            <!--Document name-->
                <span class="govuk-body">10000604_10003_201819.pdf</span>
                        
                    
            </td>
            <!--Document type-->
            <td class="govuk-table__cell"><span class="govuk-body">14 to 16 revenue funding allocation statement</span>
                
            </td>
        </tr>
        <!--Table row 3 Alternative completion-->
        <tr class="govuk-table__row" id="documentType3">
            <td class="govuk-table__cell">
                
                            <!--Document name-->
                <span class="govuk-body">10000604_10003_201819.pdf</span>
                        
                    
            </td>
            <!--Document type-->
            <td class="govuk-table__cell"><span class="govuk-body">14 to 16 revenue funding allocation statement</span>
                
            </td>
        </tr>
        <!--Table row 4 Data sharing protocol-->
        <tr class="govuk-table__row" id="documentType4">
            <td class="govuk-table__cell">
                
                            <!--Document name-->
                <span class="govuk-body">10000604_10003_201819.pdf</span>
                        
                    
            </td>
            <!--Document type-->
            <td class="govuk-table__cell"><span class="govuk-body">14 to 16 revenue funding allocation statement</span>
                
            </td>
        </tr>
        
    </tbody>
</table>

<!--
    Pagination
-->     
            <div class="govuk-form-group">       
                        <nav role="navigation" aria-label="Pagination">
                            <div class="pagination__summary">Showing 1 to 8 of 8 documents</div>
                            
                        </nav>
            </div>
<!--
    Nav end
-->
            <p class="govuk-body govuk-!-margin-top-9">You can publish <strong>8</strong> 14 to 16 revenue funding allocation statements.</p>

            <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                <a href="documents-to-publish-confirm-14to16" class="govuk-button govuk-button--primary" data-module="govuk-button" role="button" draggable="false" title="Publish all">Publish all</a>
            </div>

            
            <!--Delete selected documents for advanced users only-->
            <!--
            <div class="govuk-form-group govuk-!-margin-bottom-0">
                <a href="delete-selected-confirm.html">Delete selected documents</a>
            </div>
            -->
            <div class="back-to-top">       
            <div class="app-back-to-top app-back-to-top--fixed" data-module="app-back-to-top">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                </svg>Back to top
                </a>
            </div>
            </div>
</div>
<!--
    Table start for document type 2 - '16 to 19 reconciliation statements'
    Updated 5-1-2021

    This table is revealed using the relevant 'Select document type' radio button
-->
<div id="documentType2" class="documentType2 hidden">
    <table class="govuk-table">
        <!--Table head-->
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document name</th>
                <th scope="col" class="govuk-table__header">Document type</th>
                <!--<th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>-->
            </tr>
        </thead>
        <tbody class="govuk-table__body" id="mainContentResults">
            <!--Table row 1 Business case audit evidence-->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">16 to 19 reconciliation statement</span>
                    
                </td>
                
            </tr>
            <!--Table row 2 Business case-->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">16 to 19 reconciliation statement</span>
                    
                </td>
            </tr>
            <!--Table row 3 Alternative completion-->
            <tr class="govuk-table__row" id="documentType3">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">16 to 19 reconciliation statement</span>
                    
                </td>
            </tr>
            <!--Table row 4 Data sharing protocol-->
            <tr class="govuk-table__row" id="documentType4">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">16 to 19 reconciliation statement</span>
                    
                </td>
            </tr>
            <!--Table row 1 Business case audit evidence-->
            <tr class="govuk-table__row" id="documentType">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">16 to 19 reconciliation statement</span>
                    
                </td>
                
            </tr>
            
            
        </tbody>
    </table>
    
    <!--
        Pagination
    -->     
                <div class="govuk-form-group">       
                            <nav role="navigation" aria-label="Pagination">
                                <div class="pagination__summary">Showing 1 to 5 of 5 documents</div>
                                
                            </nav>
                </div>
    <!--
        Nav end
    -->
    <p class="govuk-body govuk-!-margin-top-9">You can publish <strong>5</strong> 16 to 19 reconciliation statements.</p>            
    
    <div class="govuk-form-group govuk-!-margin-bottom-0">
                    <a href="documents-to-publish-confirm-14to16" class="govuk-button govuk-button--primary" data-module="govuk-button" role="button" draggable="false" title="Publish all">Publish all</a>
                </div>
    
                
                <!--Delete selected documents for advanced users only-->
                <!--
                <div class="govuk-form-group govuk-!-margin-bottom-0">
                    <a href="delete-selected-confirm.html">Delete selected documents</a>
                </div>
                -->
                <div class="back-to-top">       
                <div class="app-back-to-top app-back-to-top--fixed" data-module="app-back-to-top">
                    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                    </a>
                </div>
                </div>
    </div>

<!--
    Table start for document type 3 - 'Business case audit evidence requests'
    Created 5-1-2021

    This table is revealed using the relevant 'Select document type' radio button    
-->
<div id="documentType3" class="documentType3 hidden">
    <table class="govuk-table">
        <!--Table head-->
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document name</th>
                <th scope="col" class="govuk-table__header">Document type</th>
                <!--<th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>-->
            </tr>
        </thead>
        <tbody class="govuk-table__body" id="mainContentResults">
            <!--Table row 1 Business case audit evidence-->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            <!--Table row 2 Business case-->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 3 Alternative completion-->
            <tr class="govuk-table__row" id="documentType3">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 4 Data sharing protocol-->
            <tr class="govuk-table__row" id="documentType4">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 1 Business case audit evidence-->
            <tr class="govuk-table__row" id="documentType">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            <!--Table row 2 Business case-->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 3 Alternative completion-->
            <tr class="govuk-table__row" id="documentType3">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 4 Data sharing protocol-->
            <tr class="govuk-table__row" id="documentType4">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 1 Business case audit evidence-->
            <tr class="govuk-table__row" id="documentType">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            <!--Table row 2 Business case-->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 3 Alternative completion-->
            <tr class="govuk-table__row" id="documentType3">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 4 Data sharing protocol-->
            <tr class="govuk-table__row" id="documentType4">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 1 Business case audit evidence-->
            <tr class="govuk-table__row" id="documentType">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            <!--Table row 2 Business case-->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 3 Alternative completion-->
            <tr class="govuk-table__row" id="documentType3">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 4 Data sharing protocol-->
            <tr class="govuk-table__row" id="documentType4">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 1 Business case audit evidence-->
            <tr class="govuk-table__row" id="documentType">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            <!--Table row 2 Business case-->
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 3 Alternative completion-->
            <tr class="govuk-table__row" id="documentType3">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 4 Data sharing protocol-->
            <tr class="govuk-table__row" id="documentType4">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
            </tr>
            <!--Table row 1 Business case audit evidence-->
            <tr class="govuk-table__row" id="documentType">
                <td class="govuk-table__cell">
                    
                                <!--Document name-->
                    <span class="govuk-body">10000604_10003_201819.pdf</span>
                            
                        
                </td>
                <!--Document type-->
                <td class="govuk-table__cell"><span class="govuk-body">Business case audit evidence request</span>
                    
                </td>
                
            </tr>
            
        </tbody>
    </table>
    
    <!--
    Pagination
-->     
<div class="govuk-form-group">       
    <nav role="navigation" aria-label="Pagination">
        <div class="pagination__summary">Showing 1 to 25 of 435 documents</div>
        <ul class="pagination">
            <!--
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation"></span> Previous</a></li>
            -->
            <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 1, current page">1</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 3">3</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation"></span></a></li>
        </ul>
    </nav>
</div>
<!--
Nav end
-->
    <p class="govuk-body govuk-!-margin-top-9">You can publish <strong>435</strong> Business case audit evidence requests.</p>            
    
    <div class="govuk-form-group govuk-!-margin-bottom-0">
                    <a href="documents-to-publish-confirm-14to16" class="govuk-button govuk-button--primary" data-module="govuk-button" role="button" draggable="false" title="Publish all">Publish all</a>
                </div>
    
                
                <!--Delete selected documents for advanced users only-->
                <!--
                <div class="govuk-form-group govuk-!-margin-bottom-0">
                    <a href="delete-selected-confirm.html">Delete selected documents</a>
                </div>
                -->
                <div class="back-to-top">       
                <div class="app-back-to-top app-back-to-top--fixed" data-module="app-back-to-top">
                    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                    </a>
                </div>
                </div>
    </div>


            </div>
            <!--Column two thirds end-->
        </div>
        <!--Row end-->
    </section>
  </div>
</div>

<!--
    Row end
-->

{% endblock %}
