{% extends "layout.html" %}

{% block pageTitle %}
  Document exchange
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!--Navigation-->
<div class="account-features">
  <span class="account-link">
    <a href="settings">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="start">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!--
    Breadcrumbs
-->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        Settings
      </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!--
    This page is a prototype.
    Please do not use as production code.
-->
<!--
  Heading H1
-->
    <h1 class="govuk-heading-xl">Settings</h1>
    <div class='govuk-govspeak govuk-grid-column-two-thirds' style='padding-left:0;padding-right:0'>
    <h2 class="govuk-heading-m">Permissions</h2>
      <p>You can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>publish documents from your file share</li>
          <li>download documents</li>
          <li>receive email alerts</li>
        </ul>
      <p>You cannot:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>have your contact details displaying on Document exchange for your users to see</li>
        </ul>
        <h2 class="govuk-heading-m">Your account settings</h2>
      <p>Through the DfE Sign-in you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>update your contact information</li>
          <li>change your password</li>
          <li>change your email address</li>
          <li>connect to an organisation</li>
        </ul>

        <h2 class="govuk-heading-m">Users</h2>
      <p>You can manage the users in your organisation through DfE Sign-in.</p>
    </div>
  </div>
</div>
<!--Row end-->


{% endblock %}
