{% extends "layout.html" %}

{% block pageTitle %}
  Document exchange
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!--Navigation-->
<div class="account-features">
  <span class="account-link">
    <a href="settings">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="#">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!--
    Breadcrumbs
-->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        Settings
      </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!--
    This page is a prototype.
    Please do not use as production code.
-->
<!--
  Heading H1
-->
    <h1 class="govuk-heading-xl">Settings</h1>
    <div class='govuk-govspeak'>
    <h2 class="govuk-heading-m">Permissions</h2>
    <p>You can:</p>
    <ol>
    <li>publish your documents</li>
    </ol>
    </div>
  </div>
</div>
<!--Row end-->


{% endblock %}
