{% extends "layout.html" %}

{% block pageTitle %}
  Document exchange
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block header %}
  <!-- Blank header with no service name for the start page -->
<div class="govuk-cookie-banner showjs" role="region" id='cookies' aria-label="Cookies on Document exchange">
  <div class="govuk-cookie-banner__message govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Can we store cookies on your device?</h2>

        <div class="govuk-cookie-banner__content">
          <p>We use some essential cookies to make this website work.</p>
          <p>We'd like to set additional cookies to understand how you use this website, remember your settings and improve our services. The cookies we use are listed on our cookies page.
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button value="accept" type="button" name="cookies" class="govuk-button" data-module="govuk-button" onclick='CookiesAllowed()'>
        Accept additional cookies
      </button>
      <button value="reject" type="button" name="cookies" class="govuk-button" data-module="govuk-button" onclick='CookiesNotAllowed()'>
        Reject additional cookies
      </button>
      <a class="govuk-link" href="https://myesf-doc-ex-internal.herokuapp.com/v7/cookies-esfa">View cookies used by ESFA</a>
    </div>
  </div>
</div>
  <div class="govuk-cookie-banner govuk-visually-hidden" role="region" aria-label="Cookies on Document exchange" id='cookiesallowed'>
    <div class="govuk-cookie-banner__message govuk-width-container">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <div class="govuk-cookie-banner__content">
            <p>You have accepted additional cookies. You can <a class="govuk-link" href="https://myesf-doc-ex-internal.herokuapp.com/v7/cookies-esfa">change your cookie settings</a> at any time.</p>
          </div>
        </div>
      </div>
  
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" onclick=HideMessage()>
          Hide this message
        </button>
      </div>
    </div>
  </div>
  <div class="govuk-cookie-banner govuk-visually-hidden" role="region" aria-label="Cookies on Document exchange" id='cookiesnotallowed'>
    <div class="govuk-cookie-banner__message govuk-width-container">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <div class="govuk-cookie-banner__content">
            <p>You have rejected additional cookies. You can <a class="govuk-link" href="https://myesf-doc-ex-internal.herokuapp.com/v7/cookies-esfa">change your cookie settings</a> at any time.</p>
          </div>
        </div>
      </div>
  
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" onclick=HideMessage()>
          Hide this message
        </button>
      </div>
    </div>
  </div>

<noscript>
  <div class="govuk-cookie-banner " role="region" aria-label="Cookies on [name of service]">
    <div class="govuk-cookie-banner__message govuk-width-container">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies</h2>
  
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">We use some essential cookies to make this service work.</p>
          </div>
        </div>
      </div>
  
      <div class="govuk-button-group">
        <a class="govuk-link" href="https://myesf-doc-ex-internal.herokuapp.com/v7/cookies-esfa">View cookies</a>
      </div>
    </div>
  </div>
</noscript>
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

<!--Phase banner with feedback link to Document exchange Qualtrics survey-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_1TumnFi6WPxJpnn">feedback</a> will help us to improve it.'
}) }}
<!--
  10-12-2020 Breadrumbs removed from this page until we know where it would sit
-->

{% endblock %}

{% block content %}
<!--
    This page is a prototype.
    Please do not use as production code.
-->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
      <!--
        10-12-2020
        Matthew Gough, Content Designer at ESFA, has raised the point that Document exchange as a service name is not a desriptive name
      -->

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>submit documents to the Education and Skills Funding Agency (ESFA)</li>
        <li>view and download documents published by the ESFA</li>
      </ul>

      <a href="sign-in.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button" title="Sign in or create an account">
        Sign in or create an account
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-l">Before you start</h2>
      <!--
        Subject to approval to use DfE Sign-in, we'll include the following.  
      -->
      <p class="govuk-body">See the <a class="govuk-link" href="user-guide">Document exchange user guide</a> for more information.</p>
      <h3 class="govuk-heading-m">Contact us</h3>
      <!--
        Subject to approval to use DfE Sign-in, we'll include the following.  
      -->
      <p class="govuk-body">If you need help with anything, you can <a href='https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes'>submit an enquiry</a>.</p>

    </div>


    <!--
      10-12-2020
      Removed Aside column
    -->
  </div>
  <script>
    var element = document.getElementById("cookies");
    element.classList.remove("showjs");
    var nocookies = document.getElementById('cookiesnotallowed')
    var yescookies = document.getElementById('cookiesallowed')
    function CookiesAllowed()
    {
      yescookies.classList.remove('govuk-visually-hidden')
      element.classList.add("govuk-visually-hidden");
    }
    function CookiesNotAllowed()
    {
      nocookies.classList.remove('govuk-visually-hidden')
      element.classList.add("govuk-visually-hidden");
    }
    function HideMessage()
    {
      nocookies.classList.add('govuk-visually-hidden');
      yescookies.classList.add('govuk-visually-hidden')
    }
  </script>
{% endblock %}
