
{% extends "layout.html" %}

{% block pageTitle %}
  MYESF Document exchange internal prototype - Version 5
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">MYESF Document exchange internal prototype</h1>
      <p class="govuk-body">Designs for the ESFA MYESF Document Exchange (Doc Ex) internal prototype, Autumn-Winter 2020</p>

      <h2 class="govuk-heading-l">Version 5</h2>
      <h3 class="govuk-heading-m">All screens in this version</h3>
      <h4 class="govuk-heading-s">All user roles</h4>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/document-exchange/dashboard">MYESF dashboard</a><br><strong>NEW to this prototype</strong>.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/document-exchange/home">Document exchange home</a><br><strong>NEW to this prototype</strong>.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/document-exchange/download-documents">Download your documents</a><br><strong>Iteration</strong> of main 'Download your documents' screen.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/document-exchange/date-error-states-mvp">Date input error states</a><br><strong>Iteration</strong> of date input/filter error states.</p>
      
      <h4 class="govuk-heading-s">Advanced user roles</h4>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/advanced-user/document-exchange/dashboard">MYESF dashboard</a><br><strong>NEW to this prototype</strong>.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/advanced-user/document-exchange/home">Document exchange home</a><br><strong>NEW to this prototype</strong>.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/advanced-user/document-exchange/download-documents">Download your documents</a><br><strong>Iteration</strong> of main 'Download your documents' screen.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/advanced-user/delete-selected-confirm">Delete selected documents</a><br><strong>Iteration</strong> of the review and confirm page.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/advanced-user/document-exchange/documents-deleted-confirmation">Delete selected documents</a><br><strong>Iteration</strong> of the deletion confirmation page.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/advanced-user/document-exchange/documents-deleted-confirmation">Product settings</a><br><strong>NEW to this prototype</strong> - product (document) settings page.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/advanced-user/document-exchange/edit-product-v2">Edit product</a><br><strong>Iteration</strong> of the 'Edit product' page.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/advanced-user/document-exchange/edit-product-confirm-v1">Edit product</a><br><strong>NEW</strong> 'Edit product' confirmation page.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/advanced-user/document-exchange/edit-product-error-states-v1">Edit product</a><br><strong>NEW</strong> 'Edit product' page error states.</p>
    </div>
  </div>

{% endblock %}
