
{% extends "layout.html" %}

{% block pageTitle %}
  MYESF Document exchange internal prototype - Version 7
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">MYESF Document exchange internal prototype</h1>
      <p class="govuk-body">Designs for the ESFA MYESF Document Exchange (Doc Ex) internal prototype, Autumn-Winter 2020</p>

      <h2 class="govuk-heading-l">Version 7</h2>
      <h3 class="govuk-heading-m">All screens in this version</h3>
      <h4 class="govuk-heading-s">All user roles</h4>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/document-exchange/start">Service start page</a><br><strong>NEW</strong> to this prototype.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/document-exchange/sign-in">DfE Sign-in page</a><br><strong>NEW</strong> to this prototype.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/document-exchange/home">Document exchange home</a><br><strong>NEW</strong> to this prototype.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/document-exchange/download-documents">Download your documents</a><br><strong>Iteration</strong> of main 'Download your documents' screen.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/document-exchange/file-share">File share documents</a><br><strong>NEW</strong> to this prototype.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/document-exchange/publish-documents">Publish your documents</a><br><strong>NEW</strong> to this prototype.</p>

      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/document-exchange/documents-to-publish-confirm-14to16">Publish your documents - confirm</a><br><strong>NEW</strong> to this prototype.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/document-exchange/confirmation-14to16">Publish your documents - documents published confirmation</a><br><strong>NEW</strong> to this prototype.</p>

      
      <h4 class="govuk-heading-s">Advanced user roles</h4>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/advanced-user/document-exchange/download-documents">Download your documents</a><br><strong>Iteration</strong> of main 'Download your documents' screen.</p>

      <h4 class="govuk-heading-s">External Multi Academy Trust</h4>
      <p class="govuk-body">Prototyped to provide a solution for large volume document download issue caused by implementation for the 'Select all' functionality.</p>

      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/external/documents-received-from-esfa">Documents received from ESFA</a><br><strong>NEW</strong> to this prototype.</p>
      <h4 class="govuk-heading-s">Error pages</h4>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/errors/not-allowed">Access to this service is not allowed</a><br><strong>NEW</strong> to this prototype.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v7/errors/not-found">Page not found</a><br><strong>NEW</strong> to this prototype.</p>

    </div>
  </div>

{% endblock %}
