/* Work in progress styles */

a.dashboard-links {
  color: white;
  text-decoration: none;
  display: block;
}

.account-features {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: right;
}

.alert {
  font-size: 20px;
}

.alert-name-red {
  display: block;
  background-color: #b10e1e;
  margin-top: 5px;
  padding: 10px 20px;
}

.alert-name-green {
	display: block;
	border: 3px solid #85994b;
	color: #0b0c0c;
	margin-top: 5px;
	padding: 10px 20px;
}

/* 
GOV.UK width container override
*/
.govuk-width-container {
  max-width: 1200px;
  margin: 0 15px;
}

.service-name {
    display: block;
    background-color: #0b0c0c;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

  /*
  Media queries
  */

  @media (min-width: 641px) {
    .account-link {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 10px;
    }
    main {
      font-size: 19px;
      line-height: 1.31579;
    }
    .service-name {
      min-height: 98px;
    }
  }

  @media (min-width: 694px) {
    .service-name {
      min-height: 72px;
    }
  }
  
  @media (min-width: 769px) {
    #main-content {
      padding-bottom: 90px;
    }
    .service-name {
      font-size: 26px;
      min-height: 108px;
    }
  }
  
  @media (min-width: 825px) {
    .service-name {
      min-height: 88px;
    }
  }
  
  @media (min-width: 1260px) {
    .govuk-width-container {
      margin: 0 auto;
    }
  }

/*CFS stylesheet*/

.hidden {
    display: none;
}

.hiddenCheckboxes {
    cursor: pointer;
}

.hiddenCheckboxes:hover{
    background: #F8F8F8;
    outline: 3px solid #FFBF47;
}

.hiddenCheckboxes:focus {
    background: #F8F8F8;
    outline: 3px solid #FFBF47;
}

.checkboxExpand {
    margin-top: 10px; 
}

.checkboxExpanded {
-ms-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}

.filterbyHeading {
    text-align: left;
    border: none;
    box-shadow: none;
}

.filterbyHeading:hover {
    background-color: #dbdad9;
    text-align: left ;
    border-color: #fd0;
}

.filterbyHeading:active {
    background-color: #dbdad9;
    text-align: left ;
    border-color: #fd0;
}

dd {
margin-inline-start: 10px;
}

.filterSearch {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.filterSearchUkprn {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
}

.filterLabel {
	font-size: 16px;
	color: grey;
	margin-top: 10px;
}

.filterSearchInputBlack {
  border-color: black;
}

.filterSearchInput {
	border-color: grey;
}

/* Hides filters on load */
/*
div.filter-content {
	display: none;
}
*/
div.filter-content-status {
	display: none;
}

div.filter-content-document-type {
	display: none;
}

div.filter-content-time-period {
	display: none;
}

div.filter-content-date {
	display: none;
}
/*
div.filter-content-date-error-states-examples {
	display: none;
}
*/
div.filter-content-establishment-type {
	display: none;
}

div.filter-content-establishment-sub-type {
	display: none;
}

.filterbyContainer {
  border: solid 1px lightgrey;
}

.filterbyHeading {
	background-color: lightgrey;
	width: 100%;
	padding: 6px;
	margin-bottom: 0px;
	cursor: pointer;
}

.searchbyHeading {
	background-color: lightgrey;
	width: auto;
	padding: 6px;
	margin-bottom: 10px;
	cursor: pointer;
}

.filterbyHeading h4 {
		margin-bottom: 0px;
}

.filterbyCheckbox {
	padding-left: 20px;
	height: auto;
}

.filterbyCheckbox-fixedHeight {
  padding-left: 20px;
  padding-top: 15px;
  max-height: 200px;
	overflow-y: scroll;
}

.filterbyRadios {
	padding-left: 20px;
  height: auto;
}

/* Material icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.right-align {
  float: right;
}

.arrowChange {
	transform: rotateX(180deg);
}

.dates {
  margin: 20px 0 0 20px;
}

/* Visually hidden */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Custom GOV checkboxes with no label showing

/* Checkboxes */
.document-checkbox-th {
	vertical-align: top;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}
.document-checkbox-td {
	vertical-align: top;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}
.document-checkbox-div {
	width: 16px;
	height: 16px;
	padding: 0px;
}
.document-checkbox-div input {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 0px 0px 0px 5px;
}
.document-checkbox-div [type=checkbox] + label::before {
	width: 12px;
	height: 12px;
	box-sizing: initial;
	left: 5px;
}
.document-checkbox-div [type=checkbox] + label::after {
	width: 8px;
	height: 3px;
	border-width: 0 0 2px 2px;
	top: 5px;
	left: 8px;
	box-sizing: initial;
}


/* Pagination */
.pagination .pagination_list-items li {
  display: inline-block;
}

.pagination .pagination_list-items li a {
  color: #005EA5;
  display: inline-block;
  padding: 15px 5px 10px 5px;
  margin-right: 15px;
  text-decoration: none;
}

.pagination .pagination_list-items li a:focus {
  outline: 0;
}

.pagination .pagination_list-items li.active a,
.pagination .pagination_list-items li.active a:hover {
  color: #005EA5;
  -webkit-box-shadow: inset 0px -5px 0px 0px #005EA5;
  -moz-box-shadow: inset 0px -5px 0px 0px #005EA5;
  box-shadow: inset 0px -5px 0px 0px #005EA5;
}
/*
.padding {
  padding-left: 15px;
}
*/
.pagination {
  padding: 0;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}

.pagination__item {
  display: inline-block;
  list-style: none;
}

.pagination__link {
  display: block;
  padding: 0px 10px;
  text-decoration: underline;
}

.pagination__link:hover, .pagination__link:focus {
  background: #F8F8F8;
  outline: 3px solid #FFBF47;
}

.pagination__link.current {
  color: #0B0C0C;
  border: none;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.pagination__link.current:hover, .pagination__link.current:focus {
  color: #0B0C0C;
  background: none;
}

.pagination__summary {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0px 0;
}

@media (min-width: 642px) {
  .pagination__summary {
    float: left;
  }
}

/* Back to top */

.app-back-to-top a svg {
  margin-right: 8px;
}

.back-to-top {
  display: block;
  float: right;
}

#backToTop {
  cursor: pointer;
}

#backToTop :hover {
  background: #F8F8F8;
  outline: 3px solid #FFBF47;
}

.custom-form-group-padding {
  padding-right: 10px;
}

.error-form-group-padding {
  padding-left: 50px;
}

.ukprn-error-margins {
  margin-top: 20px;
  margin-left: 20px;
}

/* GIAS filter permanent scrollbar 
@media (min-width: 769px)
.govuk-option-select ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
*/


/* Error controllers

/* 
#identifier-error-duplicate {
  display: none;
}
*/

#identifier-error-short-or-long {
  display: none;
}

#identifier-error-missing-input {
  display: none;
}