{% extends "layout.html" %}

{% block pageTitle %}
  Document exchange
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!--Navigation-->
<div class="account-features">
  <span class="account-link">
    <a style='cursor:default'>Settings</a>
  </span>
  <span class="account-link">
    <a href="start">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!--
    Breadcrumbs
-->
<a href="#" class="govuk-back-link" onclick='javascript:history.back();return false;'>Back</a>
{% endblock %}

{% block content %}
<!--
    This page is a prototype.
    Please do not use as production code.
-->
<!--
  Heading H1
-->
    <h1 class="govuk-heading-xl">Settings</h1>
    <div class='govuk-govspeak govuk-grid-column-two-thirds' style='padding-left:0;padding-right:0'>
      <h2 class="govuk-heading-m">Your account settings</h2>
      <p>Through the DfE Sign-in you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>update your contact information</li>
          <li>change your password</li>
          <li>change your email address</li>
          <li>connect to an organisation </li>
        </ul>

        <h2 class="govuk-heading-m">Users</h2>
      <p>You can manage the users in your organisation through DfE Sign-in.</p>
      <h2 class="govuk-heading-m">Permissions</h2>
      <p>Your permissions allow you to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>add new products</li>
          <li>view and edit settings </li>
        </ul>
      <p>You cannot:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view documents</li>
          <li>upload documents</li>
          <li>download documents</li>
          <li>receive email alerts </li>
        </ul>
        
    </div>
  </div>
</div>
<!--Row end-->


{% endblock %}
