<!--
    This page is a prototype.
    Please do not use as production code.
    It was created with speed in mind, so treat as throwaway HTML.
-->

{% extends "layout.html" %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block pageTitle %}
  Edit product (alternative)
{% endblock %}

{% block beforeContent %}
<!--
    Phase banner
-->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--
    Navigation
-->
<div class="account-features">
  <span class="account-link">
    <a href="#">Settings</a>
  </span>
  <span class="account-link">
    <a href="#">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--
    Breadcrumbs
-->
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Document exchange</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Settings</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="product-settings.html">Products</a>
        </li>
      </ol>
    </div>
    <!--<a class="govuk-back-link" href="download-documents">Back</a>-->
{% endblock %}

{% block content %}





<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Edit product</h1>

    <!--Identifier-->
    <div class="govuk-form-group">
      <label class="govuk-label" for="width-5">
        <strong>Identifier</strong>
      </label>
      <div id="event-name-hint" class="govuk-hint">
        The product's unique 5 digit code.
      </div>
      <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text" value="10001">
    </div>

    <!--Document name
    <div class="govuk-form-group">
      <label class="govuk-label" for="width-5">
        <strong>Document name</strong>
      </label>
      <div id="event-name-hint" class="govuk-hint">
        Used to refer to one of this product type.
        --
        For use when referring to a single product.
        --
      </div>
      <input class="govuk-input govuk-!-width-one-third" id="one-half" name="one-half" type="text" value="Allocation calculation toolkit">
    </div>
-->
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="40">
      <div class="govuk-form-group">
        <label class="govuk-label" for="with-hint">
          <strong>Document name</strong>
        </label>
        <div id="with-hint-hint" class="govuk-hint">
          Used to refer to one of this product type.
        </div>
        <input class="govuk-input govuk-js-character-count govuk-!-width-one-third" id="document-name" name="document-name" aria-describedby="document-name-info document-name-hint">
      </div>
      <div id="document-name-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 40 characters
      </div>
    
    </div>

    <!--Document plural name-->
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="40">
    <div class="govuk-form-group">
      <label class="govuk-label" for="width-5">
       <strong>Document plural name</strong>
      </label>
      <div id="event-name-hint" class="govuk-hint">
        Used to refer to more than one of this product type.
        <!--
        For use when referring to more than one product.
        -->
      </div>
      <input class="govuk-input govuk-js-character-count govuk-!-width-one-third" id="document-name" name="document-name" aria-describedby="document-name-info document-name-hint" value="Allocation calculation toolkits">
      </div>
      <div id="document-name-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 40 characters
      </div>
    </div>

    <!--Agency team-->
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        <strong>Agency team</strong>
      </label>
      <div id="event-name-hint" class="govuk-hint">
        Select the team that will use and receive updates about this product.
        <!--
        Select the team that will use this product.
        -->
      </div>
      <select class="govuk-select" id="sort" name="sort">
        <option value="published">Option 1</option>
        <option value="updated" selected>Funding</option>
        <option value="views">Option 3</option>
        <option value="comments">Option 4</option>
      </select>
    </div>

    <!--Can organisations upload-->
    <div class="govuk-form-group">
      <!--
      <label class="govuk-label" for="sort">
        Allow providers to upload this document to the ESFA.
      </label>
      <div id="event-name-hint" class="govuk-hint">
        Select whether providers can upload this document to the ESFA.
      </div>
      -->
      <label class="govuk-label" for="sort">
        <strong>Can providers return this product?</strong>
      </label>
      <div id="event-name-hint" class="govuk-hint">
        Select whether providers can upload this document to the ESFA.
      </div>
      
      <select class="govuk-select" id="sort" name="sort">
        <option value="published">Yes</option>
        <option value="updated" selected>No</option>
      </select>
    </div>
 
      <form action="edit-product-confirm-alternative.html" method="link" novalidate>

        <input type="hidden" name="delete-confirmed" value="true">

        <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
          Submit
        </button>

      </form>
<!--
  <p class="govuk-body">By continuing, you will delete:</p>
  <ul class="govuk-list govuk-list--bullet">
        <li>the documents listed</li>
        <li>all their previous versions</li>
  </ul>
  <p>By continuing, you will delete the documents listed and all their previous versions.</p>
  <p>By continuing, you will delete the documents listed and all previously submitted versions.</p>
  <p>By continuing, you will delete the documents listed and all versions previously submitted by the provider.</p>
  <p>By continuing, you will delete the documents listed and all previous versions submitted by the provider.</p>
-->

<div class="govuk-form-group govuk-!-margin-bottom-0">
  <a href="#">Cancel</a>
</div>

<!--
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-heading-xl">
        Are you sure you want to delete these documents?
      </h1>
    </legend>
    <p>You have selected <strong>2</strong> documents for deletion.</p>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>
-->

  </div>
</div>

<!--
    Heading

    <h1 class="govuk-heading-xl">Are you sure you want to delete these documents?</h1>
    <section>

    Row start

      <div class="govuk-grid-row">

    One third column start

            <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
    <p class="govuk-body">The documents are:</p>
            </div>
        </div>
        --Row end--
    </section>
  -->
  </div>
</div>

{% endblock %}
