<!--
    This page is a prototype.
    Please do not use as production code.
    It was created with speed in mind, so treat as throwaway HTML.
-->

{% extends "layout.html" %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block pageTitle %}
  Publish your documents
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!--
    Navigation
-->
<div class="account-features">
  <span class="account-link">
    <a href="#">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="#">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--
    Breadcrumbs
-->
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="file-share.html">File share documents</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            Publish your documents
          </li>
      </ol>
    </div>
{% endblock %}

{% block content %}
<!--
    Heading
-->
    <h1 class="govuk-heading-xl">Publish your documents</h1>
    <p class="govuk-body">Select a document type to publish.</p>
    <section>
<!--
    Row start
-->
      <div class="govuk-grid-row">
<!--
    One third column start
-->

        <div class="govuk-grid-column-one-third">
<!--
    Visually hidden 'Documents selected' count for screen readers
    <p class="govuk-visually-hidden govuk-body">0 documents selected</p>
-->

<!--There may need to be a 'Filter by team' here for the appropriate role/s-->


<!--
    Filter by document type.
    Checkbox inputs.
-->
            <div class="govuk-form-group filterbyContainer">
                <fieldset class="govuk-fieldset">
                    <button id="documentTypeButton" onclick="buttonChangeDocumentType()"
                        class="govuk-fieldset__legend govuk-fieldset__legend--m filterbyHeading filter-expand-document-type govuk-button" aria-label="Filter by document type" aria-expanded="false">
                        <h4 class="govuk-heading-s">Select document type <span class="govuk-visually-hidden">:</span>
                        </h4>
                    </button>
                    <!-- Redundant script
                    <script>function buttonChangeDocumentType() {
                        var x = document.getElementById("documentTypeButton").getAttribute("aria-expanded"); 
                        if (x == "true") 
                        {
                        x = "false"
                        } else {
                        x = "true"
                        }
                        document.getElementById("documentTypeButton").setAttribute("aria-expanded", x);
                        }</script>
                    -->
                    <div id="filter-content-document-type" class="select-document-type">
                        <div class="govuk-checkboxes govuk-checkboxes--small filterbyCheckbox govuk-!-margin-top-3" id="filterBySchoolResults">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="selectDocumentType1" name="organisation"
                                    type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                    14 to 16 revenue funding allocation statements
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="selectDocumentType2" name="organisation"
                                    type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                    16 to 19 reconciliation statements
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="selectDocumentType3" name="organisation"
                                    type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                   Business case audit evidence requests
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="selectDocumentType4" name="organisation"
                                    type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                Data and management information (MI) reports
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="selectDocumentType5" name="organisation"
                                    type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">                                 
                                Local authority (LA) student number summaries
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-!-margin-bottom-3">
                                <input class="govuk-checkboxes__input" id="selectDocumentType6" name="organisation"
                                    type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                    Non maintained special school allocation statements
                                </label>
                            </div>
                            <!--
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="organisation-1" name="organisation"
                                    type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                    Grant assurance
                                </label>
                            </div>
                            
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="organisation-1" name="organisation"
                                    type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                    Infrastructure return
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item govuk-!-margin-bottom-3">
                                <input class="govuk-checkboxes__input" id="organisation-1" name="organisation"
                                    type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                    Reconciliation return
                                </label>
                            </div>
                            -->
                        </div>
                    </div>
                </fieldset>
            </div>

            <a href>Clear selections</a>
                <!--
                Alternative 'Clear filters' link          
                <a href="#" class="govuk-link" onclick="$('input:checkbox').removeAttr('checked');">Clear filters</a>
                -->
        </div>
<!--
    Two thirds column start
-->
        <div class="govuk-grid-column-two-thirds">
            <div id="noneSelected" class="govuk-!-margin-top-3">
            <h2 class="govuk-heading-m">0 document types selected</h2>
            </div>
            <div id="documentType1" class="govuk-!-margin-top-3 hideDocumentType document-list">
            <h2 class="govuk-heading-m">14 to 16 revenue funding allocation statements</h2>
            <p class="govuk=body">You can publish <strong>8</strong> documents.</p>
            <p class="govuk=body govuk-!-margin-bottom-9"><a href="documents-to-publish-confirm-14to16.html">Publish all 14 to 16 revenue funding allocation statements</a>.</p>
            </div>
            <div id="documentType2" class="govuk-!-margin-top-3 hideDocumentType document-list">
            <h2 class="govuk-heading-m">16 to 19 reconciliation statements</h2>
            <p class="govuk=body">You can publish <strong>13</strong> documents.</p>
            <p class="govuk=body govuk-!-margin-bottom-9"><a href="#">Publish all 16 to 19 reconciliation statements</a>.</p>
            </div>
            <div id="documentType3" class="govuk-!-margin-top-3 hideDocumentType document-list">
            <h2 class="govuk-heading-m">Business case audit evidence requests</h2>
            <p class="govuk=body">You can publish <strong>4</strong> documents.</p>
            <p class="govuk=body govuk-!-margin-bottom-9"><a href="#">Publish all business case audit evidence requests</a>.</p>
            </div>
            <div id="documentType4" class="govuk-!-margin-top-3 hideDocumentType document-list">
            <h2 class="govuk-heading-m">Data and management information (MI) reports</h2>
            <p class="govuk=body">You can publish <strong>1</strong> documents.</p>
            <p class="govuk=body govuk-!-margin-bottom-9"><a href="#">Publish all data and management information (MI) reports</a>.</p>
            </div>
            <div id="documentType5" class="govuk-!-margin-top-3 hideDocumentType document-list">
            <h2 class="govuk-heading-m">Local authority (LA) student number summaries</h2>
            <p class="govuk=body">You can publish <strong>7</strong> documents.</p>
            <p class="govuk=body govuk-!-margin-bottom-9"><a href="#">Publish all local authority (LA) student number summaries</a>.</p>
            </div>
            <div id="documentType6" class="govuk-!-margin-top-3 hideDocumentType document-list">
            <h2 class="govuk-heading-m govuk-!-margin-top-6">Non maintained special school allocation statements</h2>
            <p class="govuk=body">You can publish <strong>16</strong> documents.</p>
            <p class="govuk=body govuk-!-margin-bottom-9"><a href="#">Publish all non maintained special school allocation statements</a>.</p>
            </div>
<!-- PUBLISH ALL button
         <div class="govuk-form-group govuk-!-margin-top-9 govuk-!-margin-bottom-0">
    <a href="https://esfstest.herokuapp.com/public/documents/allocation-statements/example-statement-breakdown.pdf" class="govuk-button govuk-button--primary" data-module="govuk-button" role="button" draggable="false" title="Publish all selected document types">Publish all selected document types</a>
</div>   
-->

            <!--Back to top-->
                <div id="backToTop" class="back-to-top govuk-!-margin-top-9">       
                <div class="app-back-to-top app-back-to-top--fixed" data-module="app-back-to-top">
                    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                    </a>
                </div>
                </div>

            </div>
            <!--Column two thirds end-->
        </div>
        <!--Row end-->
    </section>
  </div>
</div>

<!--
    Row end
-->

{% endblock %}
