<!--This page is a prototype. Please do not use as production code.-->

{% extends "layout.html" %}

{% block pageTitle %}
  Document exchange
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!--Navigation-->
<div class="account-features">
  <span class="account-link">
    <a href="#">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="#">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--Breadcrumbs removed as this is now the service 'home' page-->
    
{% endblock %}

{% block content %}
<!--Row start
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
Heading-->
    <h1 class="govuk-heading-xl">Publish your documents</h1>
    <section>
<!--Row start-->
      <div class="govuk-grid-row">
<!--One third column start-->
        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="allocations" class="dashboard-links" href="file-share.html">
            <span id="allocations-service" class="service-name">Alternative completions</span>
            <span id="allocation-alert" class="alert alert-name-green">Publish 8 alternative completions</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="contracts" class="dashboard-links" href="download-documents.html">
            <span id="contracts-service" class="service-name">Business cases</span>
            <span id="allocation-alert" class="alert alert-name-green">Publish 3 business cases</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="allocations" class="dashboard-links" href="file-share.html">
            <span id="allocations-service" class="service-name">Business case audit evidence</span>
            <span id="allocation-alert" class="alert alert-name-green">Publish all</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="allocations" class="dashboard-links" href="file-share.html">
            <span id="allocations-service" class="service-name">Data sharing protocols</span>
            <span id="allocation-alert" class="alert alert-name-green">Publish all</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="allocations" class="dashboard-links" href="file-share.html">
            <span id="allocations-service" class="service-name">Financial reports</span>
            <span id="allocation-alert" class="alert alert-name-green">Publish all</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="allocations" class="dashboard-links" href="file-share.html">
            <span id="allocations-service" class="service-name">Funding monitoring reports</span>
            <span id="allocation-alert" class="alert alert-name-green">Publish all</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="allocations" class="dashboard-links" href="file-share.html">
            <span id="allocations-service" class="service-name">Infrastructure returns</span>
            <span id="allocation-alert" class="alert alert-name-green">Publish all</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
          <a id="allocations" class="dashboard-links" href="file-share.html">
            <span id="allocations-service" class="service-name">Reconciliation returns</span>
            <span id="allocation-alert" class="alert alert-name-green">Publish all</span>
            <!-- <span id="contract-alert" class="alert alert-name-green">View documents</span> -->
          </a>
        </div>

      </div>
      
    </section>
  </div>
</div>
<!--Row end-->


{% endblock %}
