{% extends "layout.html" %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block pageTitle %}
  Are you sure you want to delete these documents?
{% endblock %}

{% set serviceName %}
  Document exchange
{% endset%}

{% block beforeContent %}
<!--Phase banner-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--
    Navigation
-->
<div class="account-features">
  <span class="account-link">
    <a href="#">My roles and permissions</a>
  </span>
  <span class="account-link">
    <a href="#">Sign out</a>
  </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<!--
    Breadcrumbs
-->
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="download-documents.html">Download your documents</a>
          </li>
        <li class="govuk-breadcrumbs__list-item">
          Confirm delete
        </li>
      </ol>
    </div>
{% endblock %}

{% block content %}
<!--
    This page is a prototype.
    Please do not use as production code.
-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="#" method="post" class="form">
      <!--Route from this page is Yes=confirmation page No=back to 'Download your documents'-->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="download-filtered-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Are you sure you want to delete the selected documents?
          </h1>
        </legend>
        <div id="download-filtered-hint" class="govuk-hint">
          Selecting &lsquo;Yes&rsquo; will delete 25 documents.
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="download-filtered-yes" name="download-filtered" type="radio" value="true">
            <label class="govuk-label govuk-radios__label" for="download-filtered-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="download-filtered-no" name="download-filtered" type="radio" value="false">
            <label class="govuk-label govuk-radios__label" for="download-filtered-no">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

  <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

  </div>
</div>

  </div>
</div>

{% endblock %}
