
{% extends "layout.html" %}

{% block pageTitle %}
  Problem with the service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service.</h1>
      <p class="govuk-body">Please try again later.</p>
      <p class="govuk-body">If the problem continues, you can <a href='https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen'>submit an enquiry.</a></p>
    </div>
  </div>

{% endblock %}
