
{% extends "layout.html" %}

{% block pageTitle %}
MYESF Document exchange internal prototype - Version 1
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">MYESF Document exchange internal prototype</h1>
      <p class="govuk-body">Designs for the ESFA MYESF Document Exchange (Doc Ex) internal prototype, Autumn-Winter 2020</p>

      <h2 class="govuk-heading-l">Version 1</h2>
      <h3 class="govuk-heading-m">All screens in this version</h3>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v1/document-exchange/download-documents">Download your documents</a><br><strong>Variation 1 of 4.</strong> Separate Provider and Provider sub-type filters, auto height.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v1/document-exchange/download-documents-scroll-list">Download your documents</a><br><strong>Variation 2 of 4.</strong> Separate Provider and Provider sub-type filters, fixed height with scroll.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v1/document-exchange/download-documents-combined-providers">Download your documents</a><br><strong>Variation 3 of 4.</strong> Combined Provider and Provider sub-type filters, auto height.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v1/document-exchange/download-documents-combined-scroll-list">Download your documents</a><br><strong>Variation 4 of 4.</strong> Combined Provider and Provider sub-type filters, fixed height with scroll.</p>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v1/document-exchange/download-documents-date-error-state-not-tested">Download your documents</a><br><strong>Date input error state</strong> example.</p>
    </div>
  </div>

{% endblock %}
