
{% extends "layout.html" %}

{% block pageTitle %}
  MYESF Document exchange internal prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">MYESF Document exchange internal prototype</h1>
      <p class="govuk-body">Designs for the ESFA MYESF Document Exchange (Doc Ex) internal prototype, Autumn-Winter 2020</p>

      <h2 class="govuk-heading-l">Latest version</h2>
      <h3 class="govuk-heading-m">Version 5</h3>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v5/v5">Version 5</a> - This version is focused on the <strong>'Download your documents'</strong> and <strong>'Edit product'</strong> pages.</p>

      <h2 class="govuk-heading-l">Previous versions</h2>
      <h3 class="govuk-heading-m">Version 4</h3>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v4/v4">Version 4</a> - This version is focused on the <strong>'Download your documents'</strong> and new <strong>deletion</strong> pages.</p>
      <h3 class="govuk-heading-m">Version 3</h3>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v3/v3">Version 3</a> - This version is focused on the <strong>'Download your documents'</strong> and new <strong>deletion</strong> pages.</p>
      <h3 class="govuk-heading-m">Version 2</h3>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v2/v2">Version 2</a> - This version is focused on the <strong>'Download your documents'</strong> page.</p>
      <h3 class="govuk-heading-m">Version 1</h3>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/v1/v1">Version 1</a> - This version is focused on the <strong>'Download your documents'</strong> page.</p>

      <h2 class="govuk-heading-l">Document exchange internal prototype</h2>
      <h3 class="govuk-heading-m">Login details</h3>
      <p class="govuk-body">Contact Keith Symonds at Methods/DfE <a href="keith.symonds@methods.co.uk">keith.symonds@methods.co.uk</a> or <a href="keith.symonds@education.gov.uk">keith.symonds@education.gov.uk</a> for the latest usernames and passwords.</p>
      <h3 class="govuk-heading-m">Prototype (Heroku app)</h3>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal.herokuapp.com/">https://myesf-doc-ex-internal.herokuapp.com/</a></p>

      <h3 class="govuk-heading-m">Prototype GitHub repo</h3>
      <p class="govuk-body"><a href="https://github.com/SkillsFundingAgency/myesf-doc-ex-internal">https://github.com/SkillsFundingAgency/myesf-doc-ex-internal</a></p>

      <h2 class="govuk-heading-l">Document exchange internal design history</h2>
      <h3 class="govuk-heading-m">Design history</h3>
      <p class="govuk-body"><a href="https://myesf-doc-ex-internal-history.herokuapp.com/">https://myesf-doc-ex-internal-history.herokuapp.com/</a></p>

      <h3 class="govuk-heading-m">Design history GitHub repo</h3>
      <p class="govuk-body"><a href="https://github.com/SkillsFundingAgency/myesf-doc-ex-internal-design-history">https://github.com/SkillsFundingAgency/myesf-doc-ex-internal-design-history</a></p>

      <h2 class="govuk-heading-l">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h2>{{releaseVersion | log }}
      <p class="govuk-body">
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p class="govuk-body">
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>
      <h2 class="govuk-heading-m">About this page</h2>

      <p class="govuk-body">We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p class="govuk-body">You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
